<section class="page-footer section">
    <div class="container">
        <ul class="footer-menu list">
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="#about">About us</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="#collection">Our collection</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="#order">Customer order</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="#testimonials">Testimonials</a>
            </li>
        </ul>
        <h2 class="footer-slogan">A touch of <span class="footer-span-ukrainian">Ukrainian</span> culture in every
            embroidery
        </h2>
    </div>
</section>