<section class="hero">
        <div class="content">
            <div class="image-container">
                <img src="" alt="girl vyschyvanka">
            </div>
            <div class="text-container">

                <h1>Reviving the traditional Ukrainian artistry in every stitch.</h1>
                <button class="button">Order</button>
                
                <div class="icons-container">
                    <ul>
                    <li>
                        <svg class="" width height>
                            <use href=""></use>
                        </svg>
                    </li>

                    <li>
                        <svg class="" width height>
                            <use href=""></use>
                        </svg>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

</section>