<section class="hero">
    <div class="container hero-container">
        <div class="hero-header">
            <h1 class="hero-title">Reviving the traditional <span class="hero-span-ukrainian">Ukrainian</span> artistry
                in
                every
                stitch.
            </h1>
            <a href="#your-order" class="hero-btn">Order
                <svg class="hero-icon-btn" width="26" height="16">
                    <use href="./images/icons.svg#icon-button-pointer"></use>
                </svg>
            </a>
        </div>
        <div class="hero-handmade">
            <svg class="hero-handmade-svg" width="52" height="51">
                <use href="./images/icons.svg#icon-star"></use>
            </svg>
            <p class="hero-handmade-text">all embroidery is made by hand</p>
        </div>
        <div class="hero-picture">
            <picture>
                <source srcset="./images/desctop/desctop-girl.jpg 1x, ./images/desctop/desctop-girl@2x.jpg 2x"
                    media="(min-width: 1080px)">
                <source srcset="./images/tablet/tablet-girl.jpg 1x, ./images/tablet/tablet-girl@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/mobile/mobile-girl.jpg 1x, ./images/mobile/mobile-girl@2x.jpg 2x"
                    media="(max-width: 767px)">
                <img src="./images/desctop/desctop-girl.jpg" alt="girl" width="413" height="575" class="hero-img" />
            </picture>
            <picture>
                <source srcset="./images/desctop/desctop-vyshyvanka.jpg 1x, ./images/desctop/desctop-vyshyvanka@2x.jpg 2x"
                    media="(min-width: 1080px)">
                <source srcset="./images/tablet/tablet-vyshyvanka.jpg 1x, ./images/tablet/tablet-vyshyvanka@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/tablet/tablet-vyshyvanka.jpg 1x, ./images/tablet/tablet-vyshyvanka@2x.jpg 2x"
                    media="(max-width: 767px)">
                <img src="./images/desctop/desctop-vyshyvanka.jpg" alt="ukraine" width="157" height="191"
                    class="hero-img-ukraine">
            </picture>
        </div>
    </div>
</section>