<section class="collection-section">
  <div class="collection-container container">
    <h2 class="collection-section-title">Our collection</h2>
    <ul class="collection-list list">
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-black-womans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-black-womans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-black-womans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-black-womans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-black-womans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-black-womans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desctop/order-shirts/desctop-black-womans-shirt.jpg"
            alt="black women's shirt"
          />
          <img srcset="" sizes="" src="" alt="black women's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">
            August Poltava women's blousering
          </h3>
          <p class="collection-item-cost">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-baege-womans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-baege-womans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-baege-womans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-baege-womans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-baege-womans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-baege-womans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desktop/order-shirts/desktop-baege-womans-shirt.jpg"
            alt="baige women's shirt"
          />
          <img srcset="" sizes="" src="" alt="baige women's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">Women's blouse Gorgany</h3>
          <p class="collection-item-cost">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-white-womans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-white-womans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-white-womans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-white-womans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-white-womans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-white-womans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desktop/order-shirts/desktop-white-womans-shirt.jpg"
            alt="white women's shirt"
          />
          <img srcset="" sizes="" src="" alt="white women's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">Women's blouse Crimea</h3>
          <p class="collection-item-cost">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-baege-mans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-baege-mans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-baege-mans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-baege-mans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-baege-mans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-baege-mans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desctop/order-shirts/desctop-baege-mans-shirt.jpg"
            alt="beige men's shirt"
          />
          <img srcset="" sizes="" src="" alt="beige men's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">Men's shirt Verkhovina</h3>
          <p class="collection-item-cost">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-black-mans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-black-mans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-black-mans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-black-mans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-black-mans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-black-mans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desctop/order-shirts/desctop-black-mans-shirt.jpg"
            alt="black men's shirt"
          />
          <img srcset="" sizes="" src="" alt="black men's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">Mountain men's shirt</h3>
          <p class="collection-item-cost">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-overlay-container">
          <img
            srcset="
              ./images/mobile/order-shirts/mobile-white-mans-shirt.jpg      335w,
              ./images/tablet/order-shirts/tablet-white-mans-shirt.jpg      342w,
              ./images/desctop/order-shirts/desctop-white-mans-shirt.jpg    347w,
              ./images/mobile/order-shirts/mobile-white-mans-shirt@2x.jpg   670w,
              ./images/tablet/order-shirts/tablet-white-mans-shirt@2x.jpg   684w,
              ./images/desctop/order-shirts/desctop-white-mans-shirt@2x.jpg 694w
            "
            sizes="(max-width: 767px) 335px, (min-width: 1280px) 347px, (min-width: 768px) 342px"
            src="./images/desctop/order-shirts/desctop-white-mans-shirt.jpg "
            alt="white men's shirt"
          />
          <img srcset="" sizes="" src="" alt="white men's shirt" />
          <p class="collection-overlay">This is overlay text</p>
        </div>
        <div class="collection-wrapper">
          <h3 class="collection-item-title">Men's shirt Yasen</h3>
          <p class="collection-item-cost">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
