<section id="testimonials">
  <div class="container cont-flex">
  <h2 class="rewiev-title">Testimonials</h2>
  <ul class="rewiev-list">
    <li class="rewiev-list-item first">
      <div class="img-container">
      <img
        srcset="./images/desctop/eclipse/desctop-maria-tkachuk.png 1x,
                ./images/desctop/eclipse/desctop-maria-tkachuk@2x.png 2x
                "
        src="./images/desctop/eclipse/desctop-maria-tkachuk.png"
        alt="customer-maria-tkachuk"
        width="64"
      />
    </div>
      <div class="rewiev">
      <h3 class="item-title">Maria Tkachuk</h3>
      <p class="opinion-text">
        I was pleasantly surprised by the variety of embroidery offered by
        Vyshyvanka Vibes. They have models for every taste - from classic to
        modern. I bought an embroidered dress to celebrate a special occasion
        and received impeccable service and refinement in every detail.
      </p>
  </div>
    </li>
    <li class="rewiev-list-item second">
      <div class="img-container">
      <img
        srcset="./images/desctop/eclipse/desctop-sergey-rybachok.png 1x,
        ./images/desctop/eclipse/desctop-sergey-rybachok@2x.png 2x
        "
        src="./images/desctop/eclipse/desctop-sergey-rybachok.png"
        alt="customer-sergey-rybachok"
        width="64"
      />
    </div>
      <div class="rewiev">
      <h3 class="item-title">Sergey Rybachok</h3>
      <p class="opinion-text">
        Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
        simply masterpieces! I fell in love with the quality of the materials
        and the skill of the artisans behind each product. This is my favorite
        embroidery shop where I always find something special and unique.
      </p>
  </div>
    </li>
    <li class="rewiev-list-item third">
      <div class="img-container">
      <img
        srcset="./images/desctop/eclipse/desctop-natalia-chatuk.png 1x,
        ./images/desctop/eclipse/desctop-natalia-chatuk@2x.png 2x
        "
        src="./images/desctop/eclipse/desctop-natalia-chatuk.png"
        alt="customer-natalia-chatuk"
        width="64"
      />
    </div>
      <div class="rewiev">
      <h3 class="item-title">Natalia Chatuk</h3>
      <p class="opinion-text">
        Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
        culture. Their embroidery reflects the spirit and traditions of our
        people. I not only buy embroidered shirts for myself, but also give them
        to my friends abroad as a symbol of our beauty and national pride.
      </p>
  </div>
    </li>
  </ul>
</div>
</section>

