*,
:after,
:before {
    box-sizing: border-box;
}


.about-container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .about-container {
        max-width: 744px;
    }
}

@media screen and (min-width:1280px) {
    .about-container {
        max-width: 1120px;
        display: flex;
        gap: 50px;
        align-items: center;
    }
}

.about-section {
    background-color: #1C2225;
    padding: 0 0 62px 0;
    background-image: url(/images/mobile/ornaments/mobile-about-us-ornament.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 260px 408px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .about-section {
        background-image: url(/images/mobile/ornaments/mobile-about-us-ornament@2x.png);
    }
}

@media screen and (min-width:768px) {
    .about-section {
        background-image: url(/images/tablet/ornaments/tablet-about-us-ornament.png);
        padding: 0 0 50px 0;
        background-size: 380px 484px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .about-section {
            background-image: url(/images/tablet/ornaments/tablet-about-us-ornament@2x.png);
        }
    }
}


@media screen and (min-width:1280px) {
    .about-section {
        background-image: url(/images/desctop/ornaments/desctop-about-us-ornament.png);
        background-size: 390px 484px;
        padding: 0 100px 80px 100px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .about-section {
            background-image: url(/images/desctop/ornaments/desctop-about-us-ornament@2x.png);
        }
    }

}


.about-title {
    color: #FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    .about-title {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
    }

}

.about-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    max-width: 335px;
}

@media screen and (min-width:768px) {
    .about-text {
        font-size: 16px;
        letter-spacing: -0.04em;
        max-width: 704px;
    }
}

@media screen and (min-width:1280px) {
    .about-text {
        max-width: 436px;
    }
}

.about-descr {
    margin-bottom: 20px;
}


@media screen and (max-width:1279px) {
    .about-img {
        margin-top: 50px;
    }
}