*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Monrope', sans-serif;
  background: #1C2225;
  /* overflow-x: hidden; */

}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}