.list {
    list-style-type: none;
}

.page-footer {
    background-color: #1C2225;
}

.page-footer {
    width: 100%;
}

/* ============== MOBILE STYLES ============== */

@media screen and (max-width: 767px) {
    .page-footer {
        background-image: url(/images/mobile/ornaments/mobile-footer-ornament.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 260px 408px;
    }

    .section {
        padding: 40px 20px;
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 25px;
        padding-bottom: 40px;
    }

   .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }

   .footer-paragraph {
    width: 295px;
        height: 216px;
        padding-bottom: 80px;
        font-size: 44px;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 1.22; 
        color: #FCF9F9;
   }

   .footer-paragraph-span {
    color: #ECD979;
   }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .about-section {
            background-image: url(/images/mobile/ornaments/mobile-footer-ornament@2x.png);
        }
    }
    


}

/* ============== TABLET STYLES ============== */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: 768px;
    }
    .section {
        padding: 40px 20px;
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 25px;
    }

    .footer-menu {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 25px;
        margin-bottom: 80px;
    }

    .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }

   .footer-paragraph {
        max-width: 521px;
        height: 216px;
        padding-bottom: 40px;
        font-size: 44px;
        font-weight: 400;
        letter-spacing: -0.03m;
        line-height: 1.22; 
        color: #FCF9F9;
   }

    .footer-paragraph {
        padding-bottom: 80px;
    }

    .footer-paragraph-span {
        color: #ECD979;
       }
}

/* ============== DESKTOP STYLES ============== */

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
    
   

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 25px;
        align-items: center;
        margin: 0 auto;
        gap: 25px;
        margin-bottom: 117px;
        padding-top: 40px;
        padding-left: 100px;
    }

    .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }
   
   .footer-paragraph {
        max-width: 754px;
        padding-bottom: 40px;
        padding-left: 100px;
        font-size: 44px;
        font-weight: 400;
        letter-spacing: -0.03m;
        line-height: 1.22; 
        color: #FCF9F9;
   }


    .footer-paragraph-span {
        color: #ECD979;
       }


}