.list {
    list-style-type: none;
}

.page-footer {
    background-color: #1C2225;
    width: 100%;
}

/* ============== MOBILE STYLES ============== */

@media screen and (max-width: 767px) {

    .page-footer {
        background-image: url(../images/mobile/ornaments/mobile-footer-ornament.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 375px 212px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .page-footer {
            background-image: url(../images/mobile/ornaments/mobile-footer-ornament@2x.png);
        }
    }

    .page-footer.footer-section {
        border-top: 1px solid rgba(252, 249, 249, 0.10);
        justify-content: space-between;
        align-items: center;
    }

    .footer-container {
        max-width: 767px;
        padding-bottom: 292px;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        padding-bottom: 40px;
        padding: 40px 20px;
    }

    .footer-menu-item {
        width: calc((100% - 25px) / 2);
    }

   .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }

   .footer-slogan {
        height: 216px;
        padding-left: 20px;
        font-size: 44px;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 1.22; 
        color: #FCF9F9;
   }

   .footer-span-ukrainian {
    color: #ECD979;
   }
    
}

/* ============== TABLET STYLES ============== */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .page-footer {
        background-image: url(../images/tablet/ornaments/tablet-footer-ornament.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 174px 370px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .page-footer {
            background-image: url(../images/tablet/ornaments/tablet-footer-ornament@2x.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 174px 370px;
        }
    }

    .page-footer.footer-section {
        border-top: 1px solid rgba(252, 249, 249, 0.10);
        justify-content: space-between;
        align-items: center;
    }

    .footer-container {
        width: 768px;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px 25px;
        align-items: center;
        margin: 0 auto;
        gap: 25px;
        margin-bottom: 80px;
        padding-top: 40px;
        padding-left: 32px;
    }

    .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }

   .footer-slogan {
        height: 216px;
        font-size: 54px;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 1.18; 
        color: #FCF9F9;
        padding-bottom: 40px;
        padding-right: 215px;
        padding-left: 32px;
    }

    .footer-span-ukrainian {
        color: #ECD979;
       }
}


/* ============== DESKTOP STYLES ============== */

@media screen and (min-width: 1280px) {
    .page-footer {
        background-image: url(../images/desctop/ornaments/desctop-footer-ornament.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 336px 363px;
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-footer {
        background-image: url(../images/desctop/ornaments/desctop-footer-ornament@2x.png);
    }
    }

    .page-footer.footer-section {
        border-top: 1px solid rgba(252, 249, 249, 0.10);
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 1280px;
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
        margin: 0 auto;
        gap: 25px;
        margin-bottom: 117px;
        padding-top: 40px;
        padding-left: 100px;
    }

    .footer-menu-item-link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.28; 
        font-weight: 400;
        text-transform: uppercase;
        color: #FCF9F9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-menu-item-link:hover,
   .footer-menu-item-link:focus {
    color: #ECD979;
   }
   
   .footer-slogan {
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right: 426px;
        font-size: 64px;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 1.15; 
        color: #FCF9F9;
   }

    .footer-span-ukrainian {
        color: #ECD979;
        font-size: 64px;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 1.15; 
       }
}

