.hero {
    padding-top: 60px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
}

.hero-title {
    color: #FCF9F9;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    max-width: 335px;
    margin-bottom: 40px;
}

.hero-span-ukrainian {
    color: #ECD979;
    line-height: 54px;
    letter-spacing: -0.03em;
}

.hero-handmade {
    display: none;
}

/*----крутилка--*/
@keyframes rotateStar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero-handmade-svg {
    animation: rotateStar 2s linear infinite;
    /* 2s - время одного оборота, linear - линейная анимация, infinite - бесконечное повторение */
}


.hero-btn {
    color: #FCF9F9;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    flex-shrink: 0;
    padding: 14px 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    max-width: 155px;
}

.hero-btn:hover,
.hero-btnn:focus {
    border-color: #ECD979;
    outline: transparent;
    outline-offset: 4px;
}

.hero-icon-btn {
    fill: #ECD979;
}

.hero-img {
    border-radius: 4px;
}

.hero-img-ukraine {
    display: none;
}

.hero-picture {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {
        padding-top: 106px;
        padding-bottom: 100px;
    }

    .hero-container {
        flex-direction: column;
        position: relative;
    }

    .hero-picture {
        margin-top: 40px;
    }

    .hero-title {
        font-size: 54px;
        line-height: 1.18;
        max-width: 549px;
    }

    .hero-handmade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: -26px;
        right: 32px;
    }

    .hero-handmade-svg {
        fill: #ECD979;
    }

    .hero-handmade-text {
        color: rgba(252, 249, 249, 0.40);
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.04em;
        max-width: 115px;
    }

    .hero-btn {
        font-size: 16px;
        letter-spacing: -0.04em;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        flex-shrink: 0;
        padding: 14px 39px;
        max-width: 168px;
        margin-left: 173px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-img-ukraine {
        display: flex;
        border-radius: 50% / 90% 90% 0 0;
        position: absolute;
        bottom: 0;
        right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .hero-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .hero-header {
        display: block;
        padding-top: 94px;
        margin-left: 40px;
    }

    .hero-picture {
        margin-top: 0;
    }

    .hero-title {
        max-width: 500px;

    }

    .hero-handmade {
        top: 0;
    }


    .hero-img {
        width: 100%;
    }
}