      .cont-flex {
      display: flex;
      flex-direction: column;
    }
   
     img {
  margin-top: -24px;
  border-radius: 64px;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
    
    }
    
  .rewiev-title {
    text-align: left;
    margin-bottom: 40px;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
    color: #fcf9f9;
  }
  .rewiev-list-item.first {
    display: flex;
  }
  .rewiev-list-item.second,
  .rewiev-list-item.third {
    display: none;
  }
  .rewiev-list-item {
    display: flex;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
  }
  .item-title {
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #fcf9f9;
  }
  .rewiev {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 291px;
  }
  .opinion-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgba(252, 249, 249, 0.4);
  }
  
  /************TABLET STYLES************/
  
  .rewiev-title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.45;
  }
  .rewiev-list-item.second {
    display: flex;
  }
  .rewiev-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .rewiev-list-item {
    width: calc((100% - 32px) / 2);
  }
  .rewiev {
    width: 300px;
  }
  .opinion-text {
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
  }
  
  /**************DESCTOP STYLES**************/
  
    .rewiev-list-item.third {
      display: flex;
    }
    .rewiev-list {
      gap: 26px;
    }
    .rewiev-list-item {
      width: calc((100% - 52px) / 3);
    }
    .rewiev {
      width: 307px;
    }
  
  